.banner {
  background-image: url("https://http2.mlstatic.com/resources/exhibitors/MCO-Hot-Sale/91f18030-d7e5-11ee-90bf-bf4b78d1d921-landing_desktop.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
